__pycache__/
.idea/
.cache/
.DS_Store
*.log
application/recommend_model/saved_model
application/recommend_models/saved_model/knn
application/recommend_models/saved_model/svd
application/recommend_models/saved_model/svd_simple
