{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="guestBook">
        <el-container>
            <el-aside width="700px">
                <el-row v-for="m in guests" style="margin-top: 10px;">
                    <el-col :span="20" :offset="4">
                        <el-card class="box-card" shadow="hover">
                            <div slot="header">
                                <span style="color:red;font-size: small">{{m.username}}</span>
                                {% if current_user.is_admin %}
                                    <el-button style="float: right" type="danger" size="small" @click="delGuest(m.id)">
                                        删除
                                    </el-button>
                                {% endif %}
                                <el-button style="float: right;" type="text">发布于：{{m.pub_date}}</el-button>
                            </div>
                            <div>
                                <p>{{m.content}}</p>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>

            </el-aside>
            <el-main style="margin-right: 100px">
                <el-input
                        type="textarea"
                        :rows="5"
                        placeholder="请输入留言内容"
                        v-model="leave_msg">
                </el-input>
                {% if current_user.is_authenticated %}
                    <el-button type="primary" size="small" @click="pubMessage" style="margin-top: 10px;">发送留言
                    </el-button>
                {% else %}
                    <el-button type="primary" size="small" @click="pubMessage" style="margin-top: 10px;" disabled>发送留言
                    </el-button>

                {% endif %}
            </el-main>
        </el-container>
    </div>
{% endblock %}
{% block vue %}
    <script>
        app.activeIndex = 'guestBook';
        new Vue({
            el: '#guestBook',
            data: {
                activeIndex: 'guestBook',
                panel: 'guestBook',
                users: [],
                news: [],
                movies: [],
                guests: [],
                pub_new: {
                    state: false,
                    title: '',
                    content: ''
                },
                leave_msg: '',
                news_detail: false,
                update_user: {
                    id: '',
                    state: false,
                    username: '',
                    email: '',
                    password: '',
                    phone: ''
                },
                page_movies: {
                    movies: [],
                    curr_page: 1
                },
                movies_count: 0,
                options: [{
                    value: 'score',
                    label: '评分'
                }, {
                    value: 'views',
                    label: '浏览量'
                }, {
                    value: 'add_date',
                    label: '创建时间'
                }, {
                    value: 'name',
                    label: '电影名称'
                }]

            },
            methods: {
                delGuest: function (id) {
                    this.$http.get('/del_guest',{params:{
                        id:id
                        }}).then(function (data) {
                        if (data.body === 'success') {
                            this.getAllGuests();
                            this.$message({
                                message: '删除成功！',
                                type: 'success'
                            });
                        } else {
                            this.$message.error('删除失败，请联系管理员');
                        }
                    })
                },
                getAllGuests: function () {
                    this.$http.get('/guests').then(function (data) {
                        this.guests = data.body;
                    })
                },
                pubMessage: function () {
                    if (this.leave_msg === '') {

                    } else {
                        this.$http.post('/leave_message', {
                            content: this.leave_msg
                        }, {emulateJSON: true}).then(function (data) {
                            this.msg = data.body;
                            this.getAllGuests();


                        }, function (response) {
                            console.info(response);
                        })
                    }
                }
            },

            created: function () {
                this.getAllGuests();
            }
        });
    </script>
{% endblock %}