{% extends "base.html" %}
{% block title %}电影管理{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="st" style="margin-top: 20px">
        <div id="info">

        </div>
        <el-row :gutter="20">
            <el-col :span="5" :offset="8">
                会员人数：{{st.user_count}}
            </el-col>
            <el-col :span="5">
                收录电影：{{st.movie_count}}
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="5" :offset="8">
                评论总数：{{st.eva_count}}
            </el-col>
            <el-col :span="5">
                留言总数：{{st.guest_count}}
            </el-col>
        </el-row>
        <template>
            <h3 style="text-align: center">得知网站来源</h3>
            <ve-pie :data="chartData" ></ve-pie>
        </template>
        <template>
                <h3>电影喜爱类型</h3>
          <ve-pie :data="chartData" :settings="chartSettings"></ve-pie>
        </template>
        <el-row>
            <el-col :span="15" :offset="10">
                <h1>调查问卷统计信息</h1>
            </el-col>
        </el-row>
        <el-row>
            <el-col :offset="15">
                <p style="color: red">网站平均得分：{{st.score}}</p>
            </el-col>
        </el-row>
        <el-row style="margin-left: 100px">
            <el-col :offset="1">
                <h4>电影喜爱类型:</h4>
            </el-col>
            <el-col v-for="k,v in st.favorite_genre" :span="4" :offset="1">
                {{v}}:{{k}}
            </el-col>

        </el-row>
        <el-row style="margin-left: 100px">
            <el-col :offset="1">
                <h4>详细信息:</h4>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">


            <el-table
                    :data="qa"
                    style="margin-left: 100px;margin-right: 200px">
                <el-table-column
                        prop="sex"
                        label="性别"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="from_where"
                        label="来源"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="score"
                        label="网站满意度(满分5分)"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="favorite_genre"
                        label="喜爱电影类型"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="submit_date"
                        label="提交时间"
                        width="180"
                        align="center">
                </el-table-column>
            </el-table>
        </el-row>

    </div>
{% endblock %}
{% block vue %}
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
    <script src="//unpkg.com/echarts/dist/echarts.min.js"></script>
    <script src="//unpkg.com/v-charts/lib/index.min.js"></script>
    <script>
        app.activeIndex = 'infoStatistics';
        v = new Vue({
            el: '#st',
            data: {
                chartData:{
                columns: ['name','value'],
                rows:[]
                },
                st: {},
                qa: []
        },
        methods: {
            getStatistics:function () {
                this.$http.get('/statistics').then(function (data) {
                        this.st = data.body;
                        res = [];
                        for (let i in this.st['from_where']) {
                            res.push({
                                name:i,
                                value:this.st['from_where'][i]
                            })
                        }
                        this.chartData.rows = res;
                        this.source_info.series[0].data = res;
                    }
                )
            }
        ,
            getAllQa: function () {
                this.$http.get('/qa', {}).then(function (data) {
                        this.qa = data.body
                    }
                )
            }
        }
        ,

        created: function () {
            this.getStatistics();
            this.getAllQa();
        }
        });
    </script>
{% endblock %}
