{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    {#用户管理#}
    <div v-if="panel==='userManage'" style="margin-top: 30px;">
        <el-table
                :data="users"
                style="width: 100%"
                border
                height="400">
            <el-table-column
                    fixed
                    prop="username"
                    label="用户名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="account"
                    label="账户"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="register_date"
                    label="注册时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="email"
                    label="邮箱"
                    width="180">
            </el-table-column>
            <el-table-column label="权限" width="220">
                <template slot-scope="scope">
                    <el-tag type="success" v-if="scope.row.is_admin===true">管理员</el-tag>
                    <div v-if="scope.row.is_admin===false">
                        <el-tag type="info" >普通会员</el-tag>
                        <el-button type="success" size="small" @click="giveAdmin(scope.row.id)">赋予管理员</el-button>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" size="small">查看</el-button>
                    <el-button type="primary" size="small" @click="updateUser(scope.row)">修改信息</el-button>
                    <el-button type="danger"  size="small" @click="delUser(scope.row)">删除用户</el-button>
                </template>

            </el-table-column>
        </el-table>

        <el-dialog title="更新信息" :visible.sync="update_user.state">
            用户名:<el-input v-model="update_user.username" placeholder=""></el-input>
            邮箱：<el-input v-model="update_user.email" style="margin-top: 5px"></el-input>
            密码：<el-input v-model="update_user.password" style="margin-top: 5px"></el-input>
            手机：<el-input v-model="update_user.phone" style="margin-top: 5px"></el-input>
         <div slot="footer" class="dialog-footer">
              <el-button @click="update_user.state = false">取 消</el-button>
               <el-button type="primary" @click="updateUserInfo">确 定</el-button>
         </div>
        </el-dialog>
    </div>

    {# 新闻公告#}
    <div v-if="panel==='news'" style="margin-top: 30px;">
        <el-collapse  accordion style="width: 500px;float: left;margin-left: 200px">
            <div v-for="n in news" style="font-size: larger;color: blue">
                <el-collapse-item :title='n.title'>
                    <p style="color: cornflowerblue">发布时间：{{n.pub_date}} 发布人：{{n.username}}</p>
                    <p style="color: darkgrey;font-size: larger">{{n.content}}</p>
                    <el-button type="danger" @click="delNews(n.id)" size="small">删除新闻</el-button>
                </el-collapse-item>
            </div>
        </el-collapse>
    <div style="float: right;width: 400px;margin-right: 50px">
            <el-input v-model="pub_new.title" placeholder="请输入新闻标题"></el-input>
            <el-input
                    type="textarea"
                    :rows="3"
                    placeholder="请输入新闻内容"
                    v-model="pub_new.content"
                    style="margin-top: 5px">
            </el-input>
            <el-button type="primary" size="small" @click="pubNews" style="margin-top: 5px">发布新闻</el-button>
    </div>
    </div>

    {#电影管理#}
    <div v-if="panel==='movieManage'" style="margin-top: 30px">
    <div>
    {# 电影管理标签#}
        <el-tabs v-model="activeName2" type="card" @tab-click="handleClick">
            <el-tab-pane label="用户管理" name="first">用户管理</el-tab-pane>
            <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
            <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
            <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
  </el-tabs>
    </div>
    <div v-for="m in page_movies.movies" style="margin-left:200px;margin-top:15px;margin-right: 200px">
        <el-card class="box-card">
            <div slot="header" style="font-size: large;font-weight: bold">
            <span>{{m.name}}</span>
                <el-button  type="primary" size="small" style="float: right;">查看详情</el-button>
            <el-button  type="danger" size="small" style="float: right;margin-right: 3px">删除</el-button>

            </div>
        <div>
            <p>导演：{{m.director}}</p>
            <p>主演：{{m.actor}}</p>
            <p>类型：{{m.genre}}</p>
            <p>评分：{{m.score}}</p>
            <p>浏览次数：{{m.views}}</p>
        </div>
        </el-card>
    </div>
    <div style="margin-top: 20px;margin-left: 500px;font-size: larger;">

    <el-pagination
        background
        :page-size="10"
        layout="prev, pager, next"
        @current-change="pageChange"
        :current-page.sync="page_movies.curr_page"
        :total=movies_count>
    </el-pagination>
    </div>

    </div>
    {#留言板功能#}
    <div v-if="panel==='guestBook'" style="margin-top: 30px;">
    <div style="float: left;width: 600px;border: 1px;margin-left: 100px">


    <div v-for="m in guests" style="width: 600px;margin-top: 10px;">
        <span>
            <el-card class="box-card" style="" shadow="hover">
                <div slot="header">
                <span style="color:red;font-size: small">{{m.username}}</span>
                    <el-button  style="float: right" type="danger" size="small" @click="delGuest(m.id)">删除</el-button>
                    <el-button style="float: right;" type="text">发布于：{{m.pub_date}}</el-button>
                </div>
            <div>
                <p>{{m.content}}</p>
            </div>
            </el-card>
        </span>
    </div>
    </div>
    <div style="width: 400px;overflow: hidden;background: #ffffff;float: right;border: 1px;margin-top: 20px;margin-right: 50px">
            <el-input
                    type="textarea"
                    :rows="5"
                    placeholder="请输入留言内容"
                    v-model="leave_msg">
            </el-input>
            <el-button type="primary" size="small" @click="pubMessage" style="margin-top: 10px;">发送留言</el-button>
    </div>
    </div>


{% endblock %}

{% block vue %}

    <script>

        new Vue({
            el: '#app',
            data: {
                activeIndex: 'movieManage',
                panel: 'movieManage',
                users: [],
                news: [],
                movies: [],
                guests: [],
                pub_new: {
                    state: false,
                    title: '',
                    content: ''
                },
                leave_msg:'',
                news_detail:false,
                update_user:{
                    id:'',
                    state:false,
                    username:'',
                    email:'',
                    password:'',
                    phone:''
                },
                page_movies:{
                    movies:[],
                    curr_page:1
                },
                movies_count:0
            },
            methods: {

                delNews:function (id) {
                    this.$http.get('/del_news', {
                        params:{id:id}
                    }).then(function (data) {
                        this.msg = data.body;
                        if (this.msg === 'success') {
                            this.getAllNews();

                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                giveAdmin:function (id) {
                    this.$http.get('/give_admin', {
                        params:{id:id}
                    }).then(function (data) {
                        this.msg = data.body;
                        if (this.msg === 'success') {
                            this.getAllUsers();
                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                updateUser:function (user) {
                  this.update_user.state =true;
                  this.update_user.email = user.email;
                  this.update_user.id = user.id;
                  this.update_user.username = user.username;
                  this.update_user.password = user.password;
                  this.update_user.phone = user.phone
                },
                updateUserInfo:function () {
                    this.$http.post('/update_user', {
                        email: this.update_user.email,
                        phone:this.update_user.phone,
                        username:this.update_user.username,
                        password:this.update_user.password,
                        id:this.update_user.id
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body === 'success') {
                            this.update_user.state = false;
                            this.getAllUsers();

                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                pubNews: function () {
                    this.$http.post('/pub_news', {
                        title: this.pub_new.title,
                        content: this.pub_new.content
                    }, {emulateJSON: true}).then(function (data) {
                        this.pub_new.state = false;
                        this.pub_new.content = '';
                        this.pub_new.title='';
                        this.msg = data.body;
                        if (this.msg === 'success') {
                            this.getAllNews();

                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                handleSelect: function (key, keyPath) {
                    console.log(key);
                    if (key === "userManage") {
                        if (this.users.length === 0) {
                            this.getAllUsers();
                        }
                        this.panel = 'userManage'
                    }

                    else if (key === 'movieManage') {
                        if (this.movies.length === 0) {
                            this.getPageMovies();
                        }
                        this.panel = 'movieManage'

                    }

                    else if (key === 'guestBook') {
                        if (this.guests.length === 0) {
                            this.getAllGuests();
                        }
                        this.panel = 'guestBook'

                    }

                    else if (key === 'news') {
                        if (this.news.length === 0) {
                            this.getAllNews();
                        }
                        this.panel = 'news'

                    }
                    else if (key === 'logout') {
                        window.location.href='/logout'
                    }
                },
                getAllUsers: function () {
                    this.$http.get('/users').then(function (data) {
                        this.users = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                },
                getAllMovies: function () {
                    this.$http.get('/movies').then(function (data) {
                        this.movies = data.body;
                    }, function (response) {
                        console.info(response);
                    })

                },
                getPageMovies: function () {
                    this.$http.get('/page_movies',{params:{curr_page:this.page_movies.curr_page}}).then(function (data) {
                        this.page_movies.movies = data.body;
                    }, function (response) {
                        console.info(response);
                    })

                },
                pageChange:function () {
                    this.getPageMovies()
                },
                getMoviesCount: function () {
                    this.$http.get('/movies_count').then(function (data) {
                        this.movies_count = data.body;
                    }, function (response) {
                        console.info(response);
                    })

                },

                getAllNews: function () {
                    this.$http.get('/news').then(function (data) {
                        this.news = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                },
                getAllGuests: function () {
                    this.$http.get('/guests').then(function (data) {
                        this.guests = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                },
                delUser: function (row) {
                    this.$http.get('/del_user', {params: {account: row.account}}).then(function (data) {
                        this.getAllUsers();
                        }, function (response) {

                        console.info(response);
                    })
                },
                delGuest: function (id) {
                    this.$http.get('/del_guest', {params: {id: id}}).then(function (data) {
                        this.getAllGuests()
                    }, function (response) {
                        console.info(response);
                    })
                },
                pubMessage:function () {
                    if (this.leave_msg === '') {

                    } else {
                        this.$http.post('/leave_message', {
                        content: this.leave_msg
                    }, {emulateJSON: true}).then(function (data) {
                        this.msg = data.body;
                        if (this.msg === 'success') {
                            this.leave_msg = '';
                            this.getAllGuests();

                        }
                    }, function (response) {
                        console.info(response);
                    })
                    }
                }
            },

            created: function () {
                this.getPageMovies();
                this.getMoviesCount()

            }
        })
    </script>
{% endblock %}