{% extends "base.html" %}
{% block title %}电影管理{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="movieManage">
    <el-row justify="center">
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
            <el-tab-pane label="电影" name="movie">
                <el-button type="success"
                           @click="new_movie.state=true"
                           style=" float:right;margin-bottom: 5px;margin-right: 50px">
                    新增电影</el-button>
                <el-row type="flex"  justify="center">
                    <el-col :span="8" >
                        <el-select v-model="sort_key" placeholder="排序" @change="sortMovieByKey">
                            <el-option
                              v-for="item in options"
                              :key="item.value"
                              :label="item.label"
                              :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="5">
                         <el-input placeholder="请输入内容" v-model="search_words">
                         <el-button slot="append" icon="el-icon-search" @click="searchMovies"></el-button>
                         </el-input>
                    </el-col>
                </el-row>
              <div v-for="m in page_movies.movies" style="margin-left:200px;margin-top:15px;margin-right: 200px">
                    <el-card class="box-card">
                        <div slot="header" style="font-size: large;font-weight: bold">
                        <span>{{m.name}}</span>
                            <el-button  type="primary" size="small" @click="goToMovieDetails(m.id)" style="float: right;">查看详情</el-button>
                        <el-button  type="danger" size="small" style="float: right;margin-right: 3px" @click="deleteMovie(m.id)">
                            删除</el-button>

                        </div>
                    <div>
                        <p>导演：<span style="color: #93c1e0">{{m.director}}</span></p>
                        <p>演员：<span style="color: #93c1e0">{{m.actor}}</span></p>
                        <p>类型：<span>{{m.genre}}</span></p>
                        <p>评分：<span><el-tag type="warning">{{m.score}}</el-tag></span></p>
                        <p>浏览次数：<span><el-tag type="success">{{m.views}}</el-tag></span></p>
                    </div>
                    </el-card>
                </div>
                <div style="margin-top: 20px;margin-left: 500px;font-size: larger;">
                <el-pagination
                    background
                    :page-size="10"
                    layout="prev, pager, next"
                    @current-change="pageChange"
                    :current-page.sync="page_movies.curr_page"
                    :total=movies_count
                    v-if="showPagination">
                </el-pagination>
                </div>
            </el-tab-pane>
            <el-tab-pane label="分类" name="category">
                <div style="float: left;width: 500px;border: 1px;margin-left: 10px">
                    <div v-for="(m,i) in movie_category" style="width: 500px;margin-top: 10px;">
                        <span>
                            <el-card class="box-card" style="" shadow="hover">
                                <div slot="header">
                                <span style="color:blue;font-size: larger">{{m.category}}</span>
                                <el-button  style="float: right" type="primary" size="small" @click="manageCategory(i)">管理</el-button>
                                </div>
                            <div>
                                <el-button type="text">创建于：{{m.create_date}}</el-button>
                                <p style="color: darkgrey">{{m.desc}}</p>

                            </div>
                            </el-card>
                        </span>
                    </div>
                    </div>
                    <div style="width: 400px;overflow: hidden;background: #ffffff;float: right;border: 1px;margin-top: 20px;margin-right: 50px">
                            <el-input v-model="new_category.category" placeholder="类别名称" style="margin-bottom: 5px"></el-input>

                            <el-input
                                    type="textarea"
                                    :rows="3"
                                    placeholder="描述"
                                    v-model="new_category.desc">
                            </el-input>
                            <el-button type="primary" size="small" @click="createCategory" style="margin-top: 10px;">创建类别</el-button>
                    </div>
            </el-tab-pane>
            <el-tab-pane label="管理类别" name="manage">
               <h1>{{manage_category.category}}</h1>
                <el-button type="text" >创建于：{{manage_category.create_date}}</el-button>
                <h3>共{{movies_from_category.length}}部电影 </h3>
                <p style="color: darkgrey">{{manage_category.desc}}</p>

                <el-row type="flex" justify="center" style="margin-bottom: 20px">
                <el-button type="success"
                           @click="update_category.show=true"
                           style="float: left">
                    更新信息</el-button>
                <el-button type="primary"
                           @click="addMovie2Cat"
                           style="float: left">
                    为类别新增电影</el-button>
                <el-button type="danger" @click="delCategory(manage_category.id)"
                           >删除该类别</el-button>

                </el-row>
                <el-row type="flex" justify="center" style="margin-left: 150px">
                <el-table
                :data="movies_from_category"
                height="600">
                <el-table-column
                        fixed
                        prop="name"
                        label="电影名称"
                        width="180"
                        align="center">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="genre"
                        label="类型"
                        width="180">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="director"
                        label="导演"
                        width="180">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="actor"
                        label="演员"
                        width="280">
                </el-table-column>
                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
                        <el-button type="danger"  size="small" @click="delMovieFromCat(scope.row.re_id)">从该类别中删除</el-button>
                    </template>

                </el-table-column>
            </el-table>
            </el-row>

            </el-tab-pane>
         </el-tabs>
        </el-row>
    <div>
        <el-dialog title="新增电影" :visible.sync="new_movie.state">
            电影名:<el-input v-model="new_movie.name" placeholder=""></el-input>
            导演：<el-input v-model="new_movie.director" style="margin-top: 5px"></el-input>
            演员：<el-input v-model="new_movie.actor" style="margin-top: 5px" placeholder="以空格隔开多个演员"></el-input>
            类型：<el-input v-model="new_movie.genre" style="margin-top: 5px" placeholder="以空格隔开多个类型"></el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="new_movie.state = false">取 消</el-button>
                <el-button type="primary" @click="addNewMovie">确 定</el-button>
            </div>
            </el-dialog>
    </div>
    <div>
        <el-dialog title="新增电影" :visible.sync="update_category.show">
            类别名称:<el-input v-model="update_category.name" :placeholder="manage_category.category"></el-input>
            类别描述：<el-input v-model="update_category.desc" style="margin-top: 5px" :placeholder="manage_category.desc"></el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="update_category.show = false">取 消</el-button>
                <el-button type="primary" @click="updateCategory">确 定</el-button>
            </div>
            </el-dialog>
    </div>
    <div>
        <el-dialog title="添加电影" :visible.sync="add_movies.state" width="60%">
            <el-input placeholder="请输入内容" v-model="sw" style="margin-bottom: 10px">
            <el-button slot="append" icon="el-icon-search" @click="smForAdd"></el-button>
             </el-input>
         <el-table
            :data="movies_not_from_category"
            style="width: 100%"
            border
            height="400">
            <el-table-column
                    fixed
                    prop="name"
                    label="电影名称"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="director"
                    label="导演"
                    width="200">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary"  size="small" @click="add2Category(scope)">添加至该类别</el-button>
                </template>

            </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
            <el-button @click="add_movies.state = false">取 消</el-button>
            <el-button type="primary" @click="post2DB">确 定</el-button>
        </div>
        </el-dialog>
        </div>
</div>
{% endblock %}
{% block vue %}
<script>
    app.activeIndex = 'movieManage';
    new Vue({
            el: '#movieManage',

            data: {
                activeName:'movie',
                movie_category:[],
                new_category:{
                    category:'',
                    desc:''
                },
                update_category:{
                  show:false,
                  name:'',
                  desc:''
                },
                new_movie:{
                  category:1,
                  name:'',
                  director:'',
                  actor:'',
                  genre:'',
                  state:false
                },
                add_movies:{
                    state:false,
                    movies:[]
                },
                movies_not_from_category:[],
                manage_category:{},
                movies: [],
                leave_msg:'',
                news_detail:false,
                update_user:{
                    id:'',
                    state:false,
                    username:'',
                    email:'',
                    password:'',
                    phone:''
                },
                page_movies:{
                    movies:[],
                    curr_page:1
                },
                movies_count:0,
                movies_from_category:[],
                options: [{
                  value: 'score',
                  label: '评分'
                }, {
                  value: 'views',
                  label: '浏览量'
                }, {
                  value: 'add_date',
                  label: '创建时间'
                }, {
                  value: 'name',
                  label: '电影名称'
                }],
                sort_key: '',
                search_words:'',
                showPagination:true,
                sw:''
            },
            methods: {
                smForAdd:function () {
                    this.$http.get('/search_movies',{params:{search_words:this.sw}}).then(function (data) {
                        this.movies_not_from_category = data.body
                    })
                },
                deleteMovie:function (id) {
                    this.$http.get('/del_movie',{params:{id:id}}).then(function (data) {
                        if (data.body === 'success') {
                            this.$message({
                                message:'删除成功！',
                                type:'success'
                            });
                            this.getPageMovies()
                        } else {
                            this.$message.error('删除失败，请联系管理员')
                        }
                    })
                },
                goToMovieDetails:function (id) {
                  window.location.href = '/movie_details_page/' + id
                },
                post2DB:function () {
                    this.$http.post('/add_movie_to_category', {
                        ids:JSON.stringify(this.add_movies.movies),
                        category_id:this.manage_category.id
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body === 'success') {
                            this.add_movies.state = false;
                            this.getMoviesOnCat(this.manage_category.id);

                            this.add_movies.movies = []
                        }
                    })
                },
                addMovie2Cat:function () {
                    this.add_movies.state = true;
                    this.getMoviesNotFromCat()
                },
                add2Category:function (scope) {
                  this.add_movies.movies.push(scope.row.id);
                  this.movies_not_from_category.splice(scope.$index,1);
                },
                getMoviesNotFromCat:function () {
                    this.$http.get('/movies_not_from_category',{params:{id:this.manage_category.id}}).then(function (data) {
                        this.movies_not_from_category = data.body;
                    }, function (response) {

                    })
                },
                addNewMovie:function () {
                    this.$http.post('/add_movie', {
                        name: this.new_movie.name,
                        director:this.new_movie.director,
                        actor:this.new_movie.actor,
                        genre:this.new_movie.genre
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body === 'success') {
                            this.new_movie.state = false;
                            this.new_movie.name = '';
                            this.new_movie.director = '';
                            this.new_movie.actor = '';
                            this.new_movie.genre = '';
                            this.getPageMovies();
                            this.getMoviesCount();
                        }
                    }, function (response) {
                    })
                },
                delMovieFromCat:function (id) {
                     this.$http.post('/del_movie_from_category', {
                        id:id
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body === 'success') {
                            this.getMoviesOnCat(this.manage_category.id);
                        }
                    }, function (response) {
                    })
                },
                handleClick:function (tab, event) {
                  this.activeName = tab.name;
                  if(this.activeName === 'category'){
                      if(this.movie_category.length === 0) {
                          this.getAllCategory()
                      }
                  }
                  else if (tab.name === 'movie') {
                      if (this.page_movies.movies.length === 0) {
                          this.getPageMovies()
                      }
                  }
                },
                manageCategory:function (index) {
                  this.manage_category = this.movie_category[index];
                  this.getMoviesOnCat(this.manage_category.id);
                  this.activeName = 'manage'
                },
                getMoviesOnCat:function (id) {
                    this.$http.get('/movies_from_category',{params:{id:id}}).then(function (data) {
                        this.movies_from_category = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                },
                getAllCategory:function () {
                    this.$http.get('/movie_category').then(function (data) {
                        this.movie_category = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                },
                delCategory:function (id) {
                    this.$http.get('/del_category', {
                        params:{id:id}
                    }).then(function (data) {
                        this.msg = data.body;
                        if (this.msg === 'success') {
                            this.getAllCategory();
                            this.activeName = 'category';

                            this.$message({
                                message:'删除成功',
                                type:'success'
                            });

                        } else {
                            this.$message.error('删除失败，请联系管理员')
                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                createCategory:function () {
                    this.$http.post('/create_category', {
                        category: this.new_category.category,
                        desc: this.new_category.desc
                    }, {emulateJSON: true}).then(function (data) {
                        this.new_category.category = '';
                        this.new_category.desc='';
                        this.getAllCategory()
                    }, function (response) {
                        console.info(response);
                    })
                },
                sortMovieByKey:function(key){
                    this.page_movies.curr_page = 1;
                    this.getPageMovies()
                },
                searchMovies:function(){
                    if (this.search_words.length === 0) {
                        return
                    }
                  this.getPageMovies();
                  this.showPagination = false
                },
                getAllMovies: function () {
                    this.$http.get('/movies').then(function (data) {
                        this.movies = data.body;
                    }, function (response) {
                        console.info(response);
                    })

                },
                getPageMovies: function () {
                    if (this.search_words.length === 0) {
                        this.search_words = '_none'
                    }
                    this.showPagination = true;
                    this.$http.get('/page_movies',{params:
                            {curr_page:this.page_movies.curr_page,
                             sort_key:this.sort_key,
                             search_words:this.search_words}}).then(function (data) {
                        this.page_movies.movies = data.body;
                    });
                    this.search_words = ''

                },
                pageChange:function () {
                    this.getPageMovies()
                },
                getMoviesCount: function () {
                    this.$http.get('/movies_count').then(function (data) {
                        this.movies_count = data.body;
                    }, function (response) {
                    })

                },
                updateCategory:function () {
                    if (this.update_category.name.length === 0) {
                        this.update_category.name = this.manage_category.category
                    }
                    if (this.update_category.desc.length === 0) {
                        this.update_category.desc = this.manage_category.desc
                    }
                    this.$http.post('/update_category', {
                        id:this.manage_category.id,
                        name: this.update_category.name,
                        desc: this.update_category.desc
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body === 'success') {
                            this.$message({
                                message:'更新成功',
                                type:'success'
                            });
                            this.update_category.show = false;
                            this.activeName = 'category'

                        }
                        this.update_category.name = '';
                        this.update_category.desc='';
                        this.getAllCategory()
                    })
                }

            },

            created: function () {
                this.getPageMovies();
                this.getMoviesCount()

            }
        })
</script>
{% endblock %}


