{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    img{
     max-height:150px;
     max-width: 200px;
     vertical-align:middle;
        overflow: hidden;
 }
    .item{display: block;
    float: left;
    color: #37a;
    font-size: 13px;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 200px;
    overflow: hidden;
    }
    .more {
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    background: #f7f7f7;
}
    a:link {  color: #37a; text-decoration: none}
    {#a:visited {  color: #000000; text-decoration: none}#}
    a:hover {  color: black; text-decoration: none}
    </style>
{% endblock %}

{% block content %}

<div id="movieIndex" style="margin: 30px 300px 50px 300px">
    <div>
        <el-row type="flex"  justify="center">
            <el-col :span="5" >
                <el-select v-model="sort_key" placeholder="排序" @change="sortMovieByKey">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="8" :offset="3">
                 <el-input placeholder="请输入内容" v-model="search_words">
                 <el-button slot="append" icon="el-icon-search" @click="searchMovies"></el-button>
                 </el-input>
            </el-col>
        </el-row>
    </div>
    <div style="text-align: center;margin-top: 30px;overflow: auto">

    <div v-for="m in page_movies.movies">
        <a :href="'/movie_details_page/' + m.id" class="item">
            <img :src="m.img_path" :alt="m.name">
            <p>{{m.name}}  <strong style="color:#e09015 ">{{m.score.toFixed(1)}}</strong></p>
        </a>
   </div>
    </div>
{#    <el-row type="flex"  justify="center">#}
{#        <el-button @click="pageChange" style="width: 80%">加载更多</el-button>#}
{#    </el-row>#}

    <el-dialog
      title="收藏电影"
      :visible.sync="mark_visible"
      width="30%"
      >
      <span>
          <el-input v-model="collect_mark"  type="textarea" :rows="2" placeholder="说点什么..."></el-input>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="mark_visible = false">取 消</el-button>
        <el-button type="primary" @click="submitCollection">确 定</el-button>
      </span>
    </el-dialog>

    <el-row type="flex" justify="center">
    <el-pagination
        background
        :page-size="50"
        layout="prev, pager, next"
        @current-change="pageChange"
        :current-page.sync="page_movies.curr_page"
        :total="movies_count"
        :pager-count="17"
        v-if="showPagination">
    </el-pagination>
    </el-row>
    </div>
{% endblock %}
{% block vue %}
<script>
    app.activeIndex= 'movieIndex';
    new Vue({
            el: '#movieIndex',
            data: {
                pub_new: {
                    state: false,
                    title: '',
                    content: ''
                },
                page_movies:{
                    movies:[],
                    curr_page:1
                },
                movies_count:0,
                options: [{
                  value: 'score',
                  label: '评分'
                }, {
                  value: 'views',
                  label: '浏览量'
                }, {
                  value: 'add_date',
                  label: '创建时间'
                }, {
                  value: 'name',
                  label: '电影名称'
                }],
                sort_key: '',
                search_words:'',
                collect_mark:'',
                mark_visible:false,
                collect_id:0,
                showPagination:false
            },

            methods: {
                submitCollection:function() {
                    this.$http.post('/collect_movie', {
                        movie_id: this.collect_id,
                        mark: this.collect_mark
                    }, {emulateJSON: true}).then(function (data) {
                        if (data.body=== 'success') {
                            this.mark_visible = false;
                            this.$message({
                              message: '收藏成功！',
                              type: 'success'
                            });

                        }
                    }, function (response) {
                        console.info(response);
                    })
                },
                searchMovies:function(){
                    if (this.search_words.length === 0) {
                        return
                    }
                  this.getPageMovies();
                  this.showPagination = false
                },
                sortMovieByKey:function(key){
                    this.page_movies.curr_page = 1;
                    this.getPageMovies()
                },
                goToMovieDetails:function (id) {
                  window.location.href = '/movie_details_page/' + id
                },
                getAllMovies: function () {
                    this.$http.get('/movies').then(function (data) {
                        this.movies = data.body;
                    }, function (response) {
                        console.info(response);
                    })

                },
                getPageMovies: function () {
                    this.showPagination = true;
                    if (this.search_words.length === 0) {
                        this.search_words = '_none'
                    }
                    this.$http.get('/page_movies',{params:
                            {curr_page:this.page_movies.curr_page,
                             sort_key:this.sort_key,
                             search_words:this.search_words}}).then(function (data) {
                        this.page_movies.movies = data.body;
                    });
                    this.search_words = ''

                },
                pageChange:function () {

                    this.getPageMovies();
                    document.documentElement.scrollTop = 0
                },
                getMoviesCount: function () {
                    this.$http.get('/movies_count').then(function (data) {
                        this.movies_count = data.body;
                        this.showPagination = true
                    })

                }
            },

            created: function () {
                this.getPageMovies();
                this.getMoviesCount()
            }
        });
    </script>
{% endblock %}