{% extends "base.html" %}
{% block title %}我的推荐
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .item{display: block;
    float: left;
    color: #37a;
    font-size: 13px;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 200px;
    overflow: hidden;
    }
    a:link{
        color: black;
        text-decoration:none;
    }
    a:hover{
        color: #FF7E00;
        text-decoration:underline;
    }
     img{
     max-height:150px;
     max-width: 200px;
     vertical-align:middle;
        overflow: hidden;
 }

    </style>
{% endblock %}

{% block content %}

<div id="myRecommend" style="margin: 30px 300px 50px 300px">
<el-row type="flex" justify="center">
        <h3>为您推荐的电影</h3>
    </el-row>
<div style="text-align: center;margin-top: 30px;overflow: auto">

    <div v-for="m in movies">
        <a :href="'/m/movie_details_page/' + m.id" class="item">
            <img :src="m.img_path" :alt="m.name">
            <p>{{m.name}}  <strong style="color:#e09015 ">{{m.score.toFixed(1)}}</strong></p>
        </a>
   </div>
</div>
</div>
{% endblock %}
{% block vue %}
<script>
    app.activeIndex = 'm/myRecommend';
    new Vue({
        el: '#myRecommend',
        data: {
            movies:[],
            m_len:0
        },
        methods: {
            getMyRecommends:function() {
            this.$http.get('/m/recommend_movies').then(function (data) {
                this.movies = data.body;
                this.m_len  = this.movies.length
            })
            },
            goToMovieDetails:function (id) {
              window.location.href = '/m/movie_details_page/' + id
            },
            delCollection: function (id) {
                this.$http.get('/m/del_collection',{params:{id:id}}).then(function (data) {
                    if (data.body === 'success') {
                        this.$message({
                            message:'删除成功',
                            type:'success'
                        });
                        this.getMyCollections()
                    } else {
                        this.$message.error('删除失败，请联系管理员')
                    }
                })
            }
        },
        created: function () {
            this.getMyRecommends()
        }
    })
</script>
{% endblock %}

