{% extends "base.html" %}
{% block title %}新闻详情

{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    /* table 样式 */
table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
table td,
table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

/* code 样式 */
code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
pre code {
  display: block;
}

/* ul ol 样式 */
ul, ol {
  margin: 10px 0 10px 20px;
}
    #li-news{
        margin-top: 20px;
    }
    #news-content{
        font-size: larger;
        margin-left: 200px;
        margin-right: 200px
    }
    a:link{
        color: black;
        text-decoration:none;
    }
    a:hover{
        color: #FF7E00;
        text-decoration:underline;
    }
    a:visited {
        color:#666666;
        text-decoration:none;
    }
    </style>
{% endblock %}

{% block content %}
<div id="news">
    <el-row type="flex" justify="center" style="text-align: center">
        <h2>{{ news.title }}</h2>
    </el-row>
    <el-row type="flex" justify="center" style="text-align: center">
        <p style="color: #666666"><span style="margin-right: 20px">{{ news.user.username }}</span>
            <span>
                {{ news.pub_date }}
            </span></p>
    </el-row>
    <div  id="news-content">
        <div v-html="news.content">
    </div>
</div>
</div>
{% endblock %}
{% block vue %}
<script>
    app.activeIndex= 'news';
    new Vue({
            el: '#news',

            data: {
                content:'{{ news.content }}',
                news:{}
            },

            methods: {
                getNewsDetails: function () {
                    this.$http.get('/news_details/' + {{ news.id }}).then(function (data) {
                        this.news = data.body;
                    }, function (response) {
                        console.info(response);
                    })
                }
            },

            created: function () {
                this.getNewsDetails()
            }
        });
</script>
{% endblock %}