{% extends "base.html" %}
{% block title %}用户管理{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="userManage">
    <el-table
            :data="users"
            style="width: 100%;margin: 20px 80px 10px 80px;background-color: rgb(238, 238, 238);"
            height="600">
        <el-table-column
                prop="username"
                label="用户名"
                width="180"
                align="center">
        </el-table-column>
        <el-table-column
                prop="account"
                label="账户"
                width="180"
                align="center">
        </el-table-column>
        <el-table-column
                prop="register_date"
                label="注册时间"
                width="180"
                align="center">
        </el-table-column>
        <el-table-column
                prop="email"
                label="邮箱"
                width="180"
                align="center">
        </el-table-column>
        <el-table-column label="权限" width="220" align="center">
            <template slot-scope="scope">
                <div v-if="scope.row.is_freeze===true">
                    <el-tag type="danger" v-if="scope.row.is_freeze===true">已冻结</el-tag>
                    <el-button type="success" size="small" @click="releaseFreeze(scope.row.id)">解除冻结</el-button>

                </div>
                <div v-else>
                <el-tag type="success" v-if="scope.row.is_admin===true">管理员</el-tag>
                <div v-if="scope.row.is_admin===false">
                    <el-tag type="info" >普通会员</el-tag>
                    <el-button type="success" size="small" @click="giveAdmin(scope.row.id)">赋予管理员</el-button>
                </div>
                </div>

            </template>
        </el-table-column>
        <el-table-column label="操作" align="center" width="200">
            <template slot-scope="scope">
                <div v-if="scope.row.is_admin===true">
                <el-button type="primary" size="small" @click="updateUser(scope.row)" disabled>修改信息</el-button>
                <el-button type="danger"  size="small" @click=" freezeUser(scope.row)" disabled>冻结用户</el-button>
                </div>
                <div v-else>
                    <el-button type="primary" size="small" @click="updateUser(scope.row)">修改信息</el-button>
                    <el-button type="danger"  size="small" @click=" freezeUser(scope.row)">冻结用户</el-button>
                </div>

            </template>

        </el-table-column>
    </el-table>
    <el-row type="flex" justify="center">
         <el-button @click="getPageUsers" type="success" style="display: block;width: 30%;margin-top: 10px">
            加载更多
        </el-button>
    </el-row>
    <el-dialog title="更新信息" :visible.sync="update_user.state">
        用户名:<el-input v-model="update_user.username" placeholder=""></el-input>
        邮箱：<el-input v-model="update_user.email" style="margin-top: 5px"></el-input>
        密码：<el-input v-model="update_user.password" style="margin-top: 5px"></el-input>
        手机：<el-input v-model="update_user.phone" style="margin-top: 5px"></el-input>
     <div slot="footer" class="dialog-footer">
          <el-button @click="update_user.state = false">取 消</el-button>
           <el-button type="primary" @click="updateUserInfo">确 定</el-button>
     </div>
    </el-dialog>
    <div style="margin-bottom: 40px">

    </div>
</div>
{% endblock %}
{% block vue %}
<script>
    app.activeIndex= 'b/userManage';
    new Vue({
            el: '#userManage',
            data: {
            users: [],
            curr_page:0,
            update_user:{
                id:'',
                state:false,
                username:'',
                email:'',
                password:'',
                phone:''
            },
            },

            methods: {
                releaseFreeze:function (id) {
                this.$http.get('/b/release_freeze', {
                    params:{id:id}
                }).then(function (data) {
                    this.msg = data.body;
                    if (this.msg === 'success') {
                        this.curr_page =0;
                        this.users = [];
                        this.getPageUsers();
                        this.$message({
                                message: '解除冻结成功！',
                                type: 'success'
                            });
                    } else {
                        this.$message.error('解除失败，请联系管理员')
                    }
                })
                },
                giveAdmin:function (id) {
                this.$http.get('/b/give_admin', {
                    params:{id:id}
                }).then(function (data) {
                    this.msg = data.body;
                    if (this.msg === 'success') {
                        this.curr_page = 0;
                        this.users = [];
                        this.getPageUsers();
                    }
                }, function (response) {
                    console.info(response);
                })
            },
            updateUser:function (user) {
              this.update_user.state =true;
              this.update_user.email = user.email;
              this.update_user.id = user.id;
              this.update_user.username = user.username;
              this.update_user.password = user.password;
              this.update_user.phone = user.phone
            },
            updateUserInfo:function () {
                this.$http.post('/b/update_user', {
                    email: this.update_user.email,
                    phone:this.update_user.phone,
                    username:this.update_user.username,
                    password:this.update_user.password,
                    id:this.update_user.id
                }, {emulateJSON: true}).then(function (data) {
                    if (data.body === 'success') {
                        this.update_user.state = false;
                        this.curr_page = 0;
                        this.users = [];
                        this.getPageUsers();
                    }
                }, function (response) {
                    console.info(response);
                })
            },
            freezeUser:function (row) {
            this.$http.get('/b/freeze_user',{params:{id:row.id}}).then(function (data) {
                if (data.body === 'success') {
                    this.$message({
                                message: ' 冻结成功！',
                                type: 'success'
                            });
                    this.curr_page = 0;
                    this.users = [];
                    this.getPageUsers()
                } else {
                    this.$message.error('冻结失败，请联系管理员')
                }
            })
            },
            getPageUsers: function () {
            this.curr_page += 1;
            this.$http.get('/b/users',{params:{'curr_page':this.curr_page}}).then(function (data) {
                this.users = this.users.concat(data.body);
            })}
            },

            created: function () {
                this.getPageUsers();
            }
        });
</script>
{% endblock %}