{% extends "base.html" %}
{% block title %}用户注册{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id = "register">
        <el-row type="flex" justify="center">
            <h1>注册</h1>
        </el-row>
        <el-row type="flex" justify="center">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="账户">
                <el-input v-model="form.account" size="medium"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password" size="medium" type="password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="register">注册</el-button>
            </el-form-item>
        </el-form>
        </el-row>
    </div>
{% endblock %}
{% block vue %}

    <script>
        new Vue({
            el: '#register',
            data: {
                form: {
                    account: '',
                    password: ''
                },
                msg: ''
            },
            methods: {
                register: function () {
                    this.$http.post('/u/register', {
                        account: this.form.account,
                        password: this.form.password

                    }, {emulateJSON: true}).then(function (data) {
                        this.msg = data.body;
                        if(this.msg === 'success') {
                            window.location.href='/u/login'
                        } else {
                            this.$message.error(this.msg);
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}
